@model Where2Pay.ViewModels.AddUserBillerViewModel

<h1>Add Biller</h1>

<form asp-controller="UserBiller" asp-action="Add" method="post">

    @foreach (var biller in ViewBag.billers)
    {
        <input type="checkbox" name="BillerIds" id="@biller.ID" value="@biller.ID" />
        <label for="@biller.ID">@biller.Name</label>
        <br />

    }
    <div class="form-group">
        <label asp-for="UsersBiller"></label>
        <select asp-for="UsersBiller" asp-items="Model.UsersBillerList"></select>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account"></label>
        <input class="form-control" asp-for="Account" />
        <span asp-validation-for="Account"></span>
    </div>

    <input type="submit" value="Add Biller" />

</form>