@model Where2Pay.ViewModels.AddUserBillerViewModel

<h1>Add Biller</h1>

<form asp-controller="UserBiller" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="UsersBiller"></label>
        <select asp-for="UsersBiller" asp-items="Model.UsersBillerList"></select>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account"></label>
        <input class="form-control" asp-for="Account" />
        <span asp-validation-for="Account"></span>
    </div>

    <input type="submit" value="Add Biller" />

</form>