@model Where2Pay.ViewModels.AddBillerViewModel

<h1>Add Biller</h1>

<form asp-controller="Biller" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input class="form-control" asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Web"></label>
        <input class="form-control" asp-for="Web" />
        <span asp-validation-for="Web"></span>
    </div>
    <input type="submit" value="Add" />

</form>