@model List<Where2Pay.Models.Biller>

<h1>@ViewBag.Title</h1>
<h4>This page is for adding Managing Billers (Use direct routing in nav bar to access Add and Remove)</h4>

@if (Model.Count == 0)
{
    <p><h2>No billers yet!</h2></p>
}

<table class="table">

    <tr>
        <th>Billers</th>
        <th>Phone Number</th>
        <th> </th>
    </tr>

    @foreach (var biller in Model)
    {
        <tr>
            <td>@biller.Name</td>
            <td>@biller.Phone</td>
            <td><a asp-area="" asp-controller="Biller" asp-action="Remove">Edit or Remove Biller</a></td>
        </tr>
    }
</table>

<p><a asp-area="" asp-controller="Biller" asp-action="Add">Add Biller</a></p>