@model Where2Pay.Models.Biller

<h1>@Model.Name</h1>

<table>
    <tr>
        <td><b>Phone Number</b></td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <td><b>Email</b></td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td><b>Website</b></td>
        <td>@Model.Web</td>
    </tr>
</table>