@model Where2Pay.ViewModels.AddAgentsBillerViewModel

<h1>Add Biller to Agent</h1>

<form asp-controller="Agent" asp-action="Add" method="post">
    @foreach (var biller in Model.Billers)
    {
        <div asp-action="Add" class="form-group">
            <input type="checkbox" name="agentBiller" id="@biller.ID" value="@biller.Name" />
            <label for="agentBillers">@biller.Name</label>
        </div>
    }
    <input type="submit" value="Add New Agent" />
</form>