@model Where2Pay.ViewModels.AgentBillerViewModel

<h1>Add Biller to @Model.Agent.Name</h1>

<form asp-controller="Agent" asp-action="AddAgentsBillers" method="post">
    <div class="form-group">
        <label asp-for="BillerID"></label>
        <select asp-for="BillerID" asp-items="Model.AvailableBillers"></select>@*RENDERS DROPDOWN LIST FROM AGENTCONTROLLER.ADDITEM RENDERING ACTION*@
        <span asp-validation-for="BillerID"></span>
    </div>
    <input type="hidden" name="AgentID" value="@Model.Agent.ID" />@*ALLOWS MENU ID TO BE SUBMITTED AS FORM DATA, WITHOUT RENDERING*@
    @*TYPE=HIDDEN, SO USER DOES NOT SEE, BUT IS USED IN PROCESSING*@

    <input type="submit" value="Add Item" />
</form>