<table class="table">
    <tr>
        <th><h2>Agent</h2></th>
        <th><h2>Contact</h2></th>
    </tr>

    @foreach (var biller in ViewBag.billers)
    {
        <td>@biller.Name</td>
        <td><p>@biller.Phone</p>
            <p>@biller.Address</p>
        </td>
    }
</table>