@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Where2Pay</h1>
<p>1234 Fake Street</p>
<p>No Town, Any State 00000</p>
<p>Phone: 1-555-TEM-PNUM</p>
<p>Fax: 1-555-FAK-EFAX</p>
<p>Email: [email goes here]</p>